migrations
db.sqlite3
.vscode
db.sqlite3
../External_Dependencies/
/Python-3.8.2/
.idea/
/homzhubenv/
.coverage
.pytest_cache
.scannerwork
*coverage*
htmlcov
**/*.pyc
pytestdebug.log
*.log
checkout.html
